-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: gastosinvestimentosdb
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alertas_financeiros`
--

DROP TABLE IF EXISTS `alertas_financeiros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alertas_financeiros` (
  `id_alerta` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tipo_alerta` varchar(40) NOT NULL,
  `severidade` varchar(15) NOT NULL,
  `mensagem` varchar(255) NOT NULL,
  `dados_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`dados_json`)),
  `visto_em` timestamp NULL DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_alerta`),
  KEY `idx_alertas_usuario_visto` (`id_usuario`,`visto_em`),
  CONSTRAINT `fk_alertas_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cartao_faturas`
--

DROP TABLE IF EXISTS `cartao_faturas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartao_faturas` (
  `id_fatura` int(11) NOT NULL AUTO_INCREMENT,
  `id_cartao` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `ano` int(11) NOT NULL,
  `mes` tinyint(4) NOT NULL,
  `total_lancamentos` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_pago` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('aberta','fechada','paga') NOT NULL DEFAULT 'aberta',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_fatura`),
  UNIQUE KEY `unico_cartao_ano_mes` (`id_cartao`,`ano`,`mes`),
  KEY `idx_fatura_usuario` (`id_usuario`),
  CONSTRAINT `fk_fatura_cartao` FOREIGN KEY (`id_cartao`) REFERENCES `cartoes_credito` (`id_cartao`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_fatura_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_fatura_mes` CHECK (`mes` between 1 and 12)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cartao_lancamentos`
--

DROP TABLE IF EXISTS `cartao_lancamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartao_lancamentos` (
  `id_lancamento` int(11) NOT NULL AUTO_INCREMENT,
  `id_cartao` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `descricao` varchar(255) NOT NULL,
  `categoria` varchar(80) DEFAULT NULL,
  `valor_total` decimal(10,2) NOT NULL,
  `numero_parcelas` int(11) NOT NULL DEFAULT 1,
  `valor_parcela` decimal(10,2) NOT NULL,
  `parcelas_pagas` int(11) NOT NULL DEFAULT 0,
  `data_compra` date NOT NULL,
  `primeiro_mes_ref` date NOT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_lancamento`),
  KEY `idx_lanc_cartao` (`id_cartao`),
  KEY `idx_lanc_usuario` (`id_usuario`),
  KEY `idx_lanc_mesref` (`primeiro_mes_ref`),
  CONSTRAINT `fk_lanc_cartao` FOREIGN KEY (`id_cartao`) REFERENCES `cartoes_credito` (`id_cartao`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_lanc_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_parcelas_total` CHECK (`numero_parcelas` >= 1),
  CONSTRAINT `chk_parcelas_pagas` CHECK (`parcelas_pagas` >= 0 and `parcelas_pagas` <= `numero_parcelas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cartoes_credito`
--

DROP TABLE IF EXISTS `cartoes_credito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cartoes_credito` (
  `id_cartao` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `nome` varchar(80) NOT NULL,
  `bandeira` varchar(30) DEFAULT NULL,
  `limite` decimal(10,2) NOT NULL DEFAULT 0.00,
  `dia_fechamento` tinyint(4) NOT NULL,
  `dia_vencimento` tinyint(4) NOT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_cartao`),
  KEY `idx_cartoes_usuario` (`id_usuario`),
  CONSTRAINT `fk_cartoes_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_cartao_fechamento` CHECK (`dia_fechamento` between 1 and 28),
  CONSTRAINT `chk_cartao_vencimento` CHECK (`dia_vencimento` between 1 and 28)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categorias_auditoria`
--

DROP TABLE IF EXISTS `categorias_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_auditoria` (
  `id_auditoria` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_categoria` int(11) NOT NULL,
  `acao` enum('CRIADA','EDITADA','INATIVADA','REATIVADA') NOT NULL,
  `antes_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`antes_json`)),
  `depois_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`depois_json`)),
  `correlation_id` char(36) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_auditoria`),
  KEY `idx_cat_aud_usuario_data` (`id_usuario`,`criado_em`),
  KEY `idx_cat_aud_categoria` (`id_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categorias_gastos`
--

DROP TABLE IF EXISTS `categorias_gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_gastos` (
  `id_categoria` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `nome` varchar(100) NOT NULL,
  `limite` decimal(10,2) DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `data_criacao` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `inativado_em` timestamp NULL DEFAULT NULL,
  `nome_normalizado` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_categoria`),
  UNIQUE KEY `uk_usuario_categoria_ativo` (`id_usuario`,`nome`,`ativo`),
  KEY `idx_categorias_usuario_ativo` (`id_usuario`,`ativo`),
  KEY `idx_cat_usuario_ativo` (`id_usuario`,`ativo`),
  KEY `idx_cat_usuario_nome_norm` (`id_usuario`,`nome_normalizado`),
  CONSTRAINT `categorias_gastos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categorias_investimentos`
--

DROP TABLE IF EXISTS `categorias_investimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias_investimentos` (
  `id_categoria_investimento` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `nome` varchar(100) NOT NULL,
  PRIMARY KEY (`id_categoria_investimento`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `categorias_investimentos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dividas`
--

DROP TABLE IF EXISTS `dividas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dividas` (
  `id_divida` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `descricao` varchar(255) NOT NULL,
  `valor_total` decimal(10,2) NOT NULL,
  `valor_pago` decimal(10,2) DEFAULT 0.00,
  `taxa_juros` decimal(5,2) DEFAULT NULL,
  `data_vencimento` date NOT NULL,
  PRIMARY KEY (`id_divida`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `dividas_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `educacao_financeira`
--

DROP TABLE IF EXISTS `educacao_financeira`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `educacao_financeira` (
  `id_material` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `tipo` enum('artigo','video','tutorial') NOT NULL,
  `conteudo` text DEFAULT NULL,
  `link_externo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_material`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `event_outbox`
--

DROP TABLE IF EXISTS `event_outbox`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_outbox` (
  `id_evento` char(36) NOT NULL,
  `tipo_evento` varchar(60) NOT NULL,
  `aggregate_type` varchar(30) NOT NULL,
  `aggregate_id` int(11) DEFAULT NULL,
  `payload_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload_json`)),
  `status` enum('PENDENTE','PROCESSANDO','PROCESSADO','FALHOU') NOT NULL DEFAULT 'PENDENTE',
  `tentativas` int(11) NOT NULL DEFAULT 0,
  `dedupe_key` varchar(120) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `processado_em` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_evento`),
  UNIQUE KEY `uq_outbox_dedupe` (`dedupe_key`),
  KEY `idx_outbox_status_criado` (`status`,`criado_em`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `eventos_usuario`
--

DROP TABLE IF EXISTS `eventos_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventos_usuario` (
  `id_evento_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tipo_evento` varchar(60) NOT NULL,
  `metadados` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadados`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_evento_usuario`),
  KEY `idx_eventos_usuario_data` (`id_usuario`,`created_at`),
  KEY `idx_eventos_tipo` (`tipo_evento`),
  CONSTRAINT `fk_eventos_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `financiamento_parcelas`
--

DROP TABLE IF EXISTS `financiamento_parcelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financiamento_parcelas` (
  `id_parcela` int(11) NOT NULL AUTO_INCREMENT,
  `id_financiamento` int(11) NOT NULL,
  `id_usuario` int(11) NOT NULL,
  `ano` int(11) NOT NULL,
  `mes` tinyint(4) NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `status` enum('aberta','paga','atrasada') NOT NULL DEFAULT 'aberta',
  `data_pagamento` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_parcela`),
  UNIQUE KEY `unico_fin_ano_mes` (`id_financiamento`,`ano`,`mes`),
  KEY `idx_parc_usuario` (`id_usuario`),
  CONSTRAINT `fk_parc_fin` FOREIGN KEY (`id_financiamento`) REFERENCES `financiamentos` (`id_financiamento`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_parc_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_parc_mes` CHECK (`mes` between 1 and 12)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `financiamentos`
--

DROP TABLE IF EXISTS `financiamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financiamentos` (
  `id_financiamento` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `titulo` varchar(120) NOT NULL,
  `instituicao` varchar(120) DEFAULT NULL,
  `valor_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `valor_parcela` decimal(10,2) NOT NULL,
  `numero_parcelas` int(11) NOT NULL,
  `parcelas_pagas` int(11) NOT NULL DEFAULT 0,
  `data_inicio` date NOT NULL,
  `dia_vencimento` tinyint(4) NOT NULL,
  `taxa_juros_mensal` decimal(6,4) DEFAULT NULL,
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_financiamento`),
  KEY `idx_fin_usuario` (`id_usuario`),
  CONSTRAINT `fk_fin_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_fin_parcelas` CHECK (`numero_parcelas` >= 1),
  CONSTRAINT `chk_fin_pagas` CHECK (`parcelas_pagas` >= 0 and `parcelas_pagas` <= `numero_parcelas`),
  CONSTRAINT `chk_fin_vencimento` CHECK (`dia_vencimento` between 1 and 28)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gastos`
--

DROP TABLE IF EXISTS `gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gastos` (
  `id_gasto` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_categoria` int(11) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `origem_lancamento` varchar(30) NOT NULL DEFAULT 'manual',
  `metadados_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadados_json`)),
  `descricao_normalizada` varchar(255) DEFAULT NULL,
  `forma_pagamento` enum('DINHEIRO','PIX','DEBITO','CREDITO') NOT NULL DEFAULT 'DINHEIRO',
  `id_cartao` int(11) DEFAULT NULL,
  `valor` decimal(10,2) NOT NULL,
  `data_gasto` date NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_gasto`),
  KEY `id_categoria` (`id_categoria`),
  KEY `idx_gastos_forma_pagamento` (`forma_pagamento`),
  KEY `idx_gastos_id_cartao` (`id_cartao`),
  KEY `idx_gastos_usuario_data` (`id_usuario`,`data_gasto`),
  KEY `idx_gastos_usuario_origem` (`id_usuario`,`origem_lancamento`),
  KEY `idx_gastos_usuario_categoria_data` (`id_usuario`,`id_categoria`,`data_gasto`),
  CONSTRAINT `fk_gastos_cartao` FOREIGN KEY (`id_cartao`) REFERENCES `cartoes_credito` (`id_cartao`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `gastos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `gastos_ibfk_2` FOREIGN KEY (`id_categoria`) REFERENCES `categorias_gastos` (`id_categoria`) ON DELETE CASCADE,
  CONSTRAINT `chk_gastos_cartao_credito` CHECK (`forma_pagamento` = 'CREDITO' and `id_cartao` is not null or `forma_pagamento` <> 'CREDITO' and `id_cartao` is null)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gastos_auditoria`
--

DROP TABLE IF EXISTS `gastos_auditoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gastos_auditoria` (
  `id_auditoria` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_gasto` int(11) NOT NULL,
  `acao` enum('CRIADO','EDITADO','REMOVIDO','RECLASSIFICADO') NOT NULL,
  `antes_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`antes_json`)),
  `depois_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`depois_json`)),
  `correlation_id` char(36) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_auditoria`),
  KEY `idx_auditoria_usuario_data` (`id_usuario`,`criado_em`),
  KEY `idx_auditoria_gasto` (`id_gasto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gastos_fixos`
--

DROP TABLE IF EXISTS `gastos_fixos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gastos_fixos` (
  `id_gasto_fixo` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tipo` enum('luz','agua','internet','assinatura','telefone','outro') NOT NULL DEFAULT 'outro',
  `titulo` varchar(80) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `valor` decimal(10,2) NOT NULL,
  `dia_vencimento` tinyint(4) NOT NULL,
  `recorrencia` enum('mensal','bimestral','trimestral','anual') NOT NULL DEFAULT 'mensal',
  `ativo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_gasto_fixo`),
  KEY `idx_gf_usuario` (`id_usuario`),
  KEY `idx_gf_usuario_ativo` (`id_usuario`,`ativo`),
  KEY `idx_gf_usuario_venc` (`id_usuario`,`dia_vencimento`),
  CONSTRAINT `fk_gf_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `chk_gf_dia_vencimento` CHECK (`dia_vencimento` between 1 and 31)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historico_saldos`
--

DROP TABLE IF EXISTS `historico_saldos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historico_saldos` (
  `id_historico` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `saldo_anterior` decimal(10,2) NOT NULL,
  `saldo_atual` decimal(10,2) NOT NULL,
  `data_alteracao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_historico`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `historico_saldos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ia_conversas`
--

DROP TABLE IF EXISTS `ia_conversas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ia_conversas` (
  `id_conversa` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `titulo` varchar(120) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_conversa`),
  KEY `fk_ia_conversas_usuario` (`id_usuario`),
  CONSTRAINT `fk_ia_conversas_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ia_feedback_classificacao`
--

DROP TABLE IF EXISTS `ia_feedback_classificacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ia_feedback_classificacao` (
  `id_feedback` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_gasto` int(11) DEFAULT NULL,
  `origem_lancamento` varchar(30) NOT NULL DEFAULT 'manual',
  `categoria_sugerida` int(11) DEFAULT NULL,
  `categoria_confirmada` int(11) DEFAULT NULL,
  `observacao` varchar(255) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_feedback`),
  KEY `fk_feedback_gasto` (`id_gasto`),
  KEY `fk_feedback_categoria_sugerida` (`categoria_sugerida`),
  KEY `fk_feedback_categoria_confirmada` (`categoria_confirmada`),
  KEY `idx_feedback_usuario_data` (`id_usuario`,`criado_em`),
  CONSTRAINT `fk_feedback_categoria_confirmada` FOREIGN KEY (`categoria_confirmada`) REFERENCES `categorias_gastos` (`id_categoria`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_feedback_categoria_sugerida` FOREIGN KEY (`categoria_sugerida`) REFERENCES `categorias_gastos` (`id_categoria`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_feedback_gasto` FOREIGN KEY (`id_gasto`) REFERENCES `gastos` (`id_gasto`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_feedback_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ia_mensagens`
--

DROP TABLE IF EXISTS `ia_mensagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ia_mensagens` (
  `id_mensagem` int(11) NOT NULL AUTO_INCREMENT,
  `id_conversa` int(11) NOT NULL,
  `papel` varchar(15) NOT NULL,
  `conteudo` text NOT NULL,
  `metadados_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadados_json`)),
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_mensagem`),
  KEY `fk_ia_mensagens_conversa` (`id_conversa`),
  CONSTRAINT `fk_ia_mensagens_conversa` FOREIGN KEY (`id_conversa`) REFERENCES `ia_conversas` (`id_conversa`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ia_perfis_usuario`
--

DROP TABLE IF EXISTS `ia_perfis_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ia_perfis_usuario` (
  `id_ia_perfil` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `referencia_data` date NOT NULL,
  `perfil_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`perfil_json`)),
  `versao_modelo` varchar(50) NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_ia_perfil`),
  UNIQUE KEY `unico_usuario_data_modelo` (`id_usuario`,`referencia_data`,`versao_modelo`),
  CONSTRAINT `fk_ia_perfis_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `investimentos`
--

DROP TABLE IF EXISTS `investimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `investimentos` (
  `id_investimento` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_categoria_investimento` int(11) NOT NULL,
  `nome_ativo` varchar(100) NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `variacao_valor` decimal(10,2) DEFAULT 0.00,
  `data_investimento` date NOT NULL,
  PRIMARY KEY (`id_investimento`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_categoria_investimento` (`id_categoria_investimento`),
  CONSTRAINT `investimentos_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `investimentos_ibfk_2` FOREIGN KEY (`id_categoria_investimento`) REFERENCES `categorias_investimentos` (`id_categoria_investimento`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lancamentos_pendentes`
--

DROP TABLE IF EXISTS `lancamentos_pendentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lancamentos_pendentes` (
  `id_pendente` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `origem` enum('openfinance') NOT NULL DEFAULT 'openfinance',
  `transacao_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`transacao_json`)),
  `categoria_sugerida_id` int(11) DEFAULT NULL,
  `confianca` decimal(5,2) DEFAULT NULL,
  `status` enum('PENDENTE','APROVADO','CORRIGIDO','DESCARTADO') NOT NULL DEFAULT 'PENDENTE',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `resolvido_em` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_pendente`),
  KEY `idx_pend_usuario_status` (`id_usuario`,`status`,`criado_em`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `metas_financeiras`
--

DROP TABLE IF EXISTS `metas_financeiras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metas_financeiras` (
  `id_meta` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `titulo` varchar(120) NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `tipo_meta` varchar(40) NOT NULL,
  `valor_alvo` decimal(10,2) NOT NULL,
  `valor_atual` decimal(10,2) NOT NULL DEFAULT 0.00,
  `data_inicio` date NOT NULL,
  `data_fim` date DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'ativa',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_meta`),
  KEY `idx_metas_usuario_status` (`id_usuario`,`status`),
  CONSTRAINT `fk_metas_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_metas_valor_nao_negativo` CHECK (`valor_alvo` >= 0 and `valor_atual` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `receitas`
--

DROP TABLE IF EXISTS `receitas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receitas` (
  `id_receita` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `data_receita` date NOT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `origem_lancamento` varchar(30) NOT NULL DEFAULT 'manual',
  `metadados_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadados_json`)),
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_receita`),
  KEY `idx_receitas_usuario_data` (`id_usuario`,`data_receita`),
  CONSTRAINT `fk_receitas_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_receitas_valor_nao_negativo` CHECK (`valor` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `session_id` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL,
  `expires` bigint(20) unsigned NOT NULL,
  `data` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  PRIMARY KEY (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `simulacoes_financeiras`
--

DROP TABLE IF EXISTS `simulacoes_financeiras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `simulacoes_financeiras` (
  `id_simulacao` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `tipo_simulacao` enum('gastos','investimentos') NOT NULL,
  `parametros` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`parametros`)),
  `resultado` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`resultado`)),
  `data_simulacao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_simulacao`),
  KEY `id_usuario` (`id_usuario`),
  CONSTRAINT `simulacoes_financeiras_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `total_gastos_mes`
--

DROP TABLE IF EXISTS `total_gastos_mes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `total_gastos_mes` (
  `id_total_gastos_mes` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `ano` int(11) NOT NULL,
  `mes` tinyint(4) NOT NULL,
  `limite_gasto_mes` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gasto_atual_mes` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id_total_gastos_mes`),
  UNIQUE KEY `unico_usuario_ano_mes` (`id_usuario`,`ano`,`mes`),
  CONSTRAINT `fk_total_mes_usuario` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_mes_valido` CHECK (`mes` between 1 and 12),
  CONSTRAINT `chk_ano_valido` CHECK (`ano` between 2000 and 2100),
  CONSTRAINT `chk_valores_nao_negativos` CHECK (`limite_gasto_mes` >= 0 and `gasto_atual_mes` >= 0),
  CONSTRAINT `chk_mes` CHECK (`mes` between 1 and 12)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha_hash` varchar(255) NOT NULL,
  `perfil_financeiro` enum('conservador','moderado','arrojado') DEFAULT 'moderado',
  `salario_mensal` decimal(10,2) DEFAULT 0.00,
  `saldo_inicial` decimal(10,2) DEFAULT 0.00,
  `saldo_atual` decimal(10,2) DEFAULT 0.00,
  `data_cadastro` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping routines for database 'gastosinvestimentosdb'
--
/*!50003 DROP PROCEDURE IF EXISTS `AtualizarSaldo` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `AtualizarSaldo`(IN p_id_usuario INT, IN p_novo_saldo DECIMAL(10, 2))
BEGIN
    DECLARE v_saldo_anterior DECIMAL(10,2);

    SELECT saldo_atual INTO v_saldo_anterior
    FROM usuarios
    WHERE id_usuario = p_id_usuario;

    UPDATE usuarios
    SET saldo_atual = p_novo_saldo
    WHERE id_usuario = p_id_usuario;

    INSERT INTO historico_saldos (id_usuario, saldo_anterior, saldo_atual)
    VALUES (p_id_usuario, v_saldo_anterior, p_novo_saldo);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `GerarRelatorioMensal` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `GerarRelatorioMensal`(IN p_id_usuario INT, IN p_mes INT, IN p_ano INT)
BEGIN
    SELECT cg.nome AS categoria, SUM(g.valor) AS total_gasto
    FROM gastos g
    JOIN categorias_gastos cg ON g.id_categoria = cg.id_categoria
    WHERE g.id_usuario = p_id_usuario AND MONTH(g.data_gasto) = p_mes AND YEAR(g.data_gasto) = p_ano
    GROUP BY cg.nome;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-05  6:05:32
